@import './assets/scss/global.scss';

html, body {
  min-height: 100vh;
  height: auto;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
}
body, button, mat-form-field {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}
div, input, button {
  box-sizing: border-box;
}

img {
  user-select: none;
}

/* START SITE CONTAINER */
.g-site-content {
  min-height: calc(100vh - 200px);
}

.g-site-container {
  max-width: 1600px;
  width: 86%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 960px) {
  .g-site-container {
    width: 98%;
  }
}
/* END SITE CONTAINER */

/* START LIST */
.g-list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.g-display-none {
  display: none;
}
/* END LIST */

/* START FLOAT */
.g-float-left {
  float: left;
}

.g-float-right {
  float: right;
}

.g-float-wrapper::after {
  content: '';
  display: block;
  clear: both;
}
/* END FLOAT */

/* START TEXT */
.g-text-sm {
  font-size: 0.86rem;
}
.g-text-lg {
  font-size: 1.2rem;
}
.g-text-blur {
  color: #999;
}
.g-text-left {
  text-align: left;
}
.g-text-center {
  text-align: center;
}
.g-text-right {
  text-align: right;
}
.g-text-line-through {
  text-decoration: line-through;
}
/* END TEXT */

/* START OTHERS */
.g-overflow-hidden {
  overflow: hidden;
}
.g-box-shadow {
  box-shadow: 0px 0px 4px rgba(0,0,0,.12);
}
/* END OTHERS */

/* START BOOTSTRAP */
.container-fluid {
  max-width: 1340px;
}
.btn-primary, .btn-primary:focus {
  background-color: $primary2 !important;
  border-color: $primary2 !important;
}
.btn-primary:hover {
  background-color: $primary21 !important;
  border-color: $primary21 !important;
}
.btn:hover, .btn:focus, .btn:active,
button:hover, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
/* END BOOTSTRAP */

/* START ANGULAR MATERIAL */

// Border color when hover
.mat-form-field-appearance-outline:hover .mat-form-field-outline-thick { 
  color: rgba(0,0,0,.12);
}

// Border color when focused
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick { 
  color: $primary1;
}

// Padding => height
.mat-form-field-appearance-outline .mat-form-field-infix { 
  padding: 0.4em 0.4em 0.8em 0.4em;
}

// Label
.mat-form-field-appearance-outline .mat-form-field-label-wrapper { 
  top: -1.5em;
}

// Label
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.0em) scale(.75);
  width: 133.33333%;
}

// Prefix & suffix
.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix { 
  top: .35em !important;
}

// dialog
.mat-dialog-container { 
  padding: 0 !important;
  margin: 0 !important;
}

// mat icon
.mat-icon { 
  user-select: none;
}

// calendar
.mat-calendar-body-selected {
  background-color: $primary2 !important;
}


/* END ANGULAR MATERIAL */

/* OTHER CSS */
app-dashboard-profile,
app-dashboard-plan {
  width: 100%;
}

.post-origin-body {
  .post-origin-content {
    a {
      text-decoration: none;

      &:focus {
        outline: none;
      }
    }
  }
}
