@import '../../../../assets/scss/global.scss';

.spy-page {

  .pagination-wrapper {
    margin-top: 20px;
    margin-bottom: 50px;

    nav {
      display: table;
      margin: auto;
      
      .page-link {
        color: $textColor1;
        cursor: pointer;
        padding: .5rem 1rem;
      }
  
      .page-item.active .page-link {
        background-color: $primary1;
        border-color: $primary1;
        color: #fff;
      }
    }
  }

}