<div class="spy-page">
  <app-spy-search #spySearch
    (searchResult)="setSearchResult($event)"
    (onSearching)="onSearching($event)">
  </app-spy-search>
  <app-spy-search-result
    [data]="searchResult"
    [isSearching]="isSearching"></app-spy-search-result>

  <div class="pagination-wrapper" *ngIf="searchResult.pages > 1">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="search(max(searchResult.page - 1, 0))" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li [ngClass]="{'page-item': true, 'active': (searchResult.page == i)}" *ngFor="let ignore of [].constructor(searchResult.pages); let i = index">
          <a class="page-link" (click)="search(i)" *ngIf="showPage(i)">{{i + 1}}</a>
          <a class="page-link" *ngIf="showPageEllipsis(i)">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="search(min(searchResult.page + 1, searchResult.pages - 1))" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
      <div *ngIf="!token || !user" class="must-signin-overlay">
        <a href="/signin">
          <button class="btn btn-secondary"><i class="fal fa-lock-alt"></i> Sign in to unlock</button>
        </a>
      </div>
      <div *ngIf="token && user && user.plan==='free'" class="must-signin-overlay">
        <a href="/#pricing">
          <button class="btn btn-secondary"><i class="fal fa-lock-alt"></i> Upgrade your account</button>
        </a>
      </div>
    </nav>
  </div>
</div>