@import '../../../../../assets/scss/global.scss';

.spy-search-result {
  padding-bottom: 60px;

  .spy-search-result-grid.row {    
    padding: 15px;

    &>div[class^="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .pagination-wrapper {
    margin-top: 20px;

    nav {
      display: table;
      margin: auto;
      
      .page-link {
        color: $textColor1;
      }
  
      .page-item.active .page-link {
        background-color: $primary21;
        border-color: $primary21;
        color: #fff;
      }
    }
  }
}