<div class="ranout-dialog">
    <div class="dialog-header">
      <span>UPGRADE YOUR PLAN</span>
      <mat-icon class="icon-close" (click)="close()">close</mat-icon>
    </div>
    <div class="dialog-body">
      <div>
        You've reach your daily limit. Please continue after 24 hours or <strong>upgrade your plan</strong> to increase your limit.
      </div>
      <div style="font-size: .92rem; margin-top: 20px;">
        Discount up to <strong>45%</strong> today.
      </div>
      <div>
        <a href="/#pricing"><button class="btn btn-primary">UPGRADE NOW</button></a>
      </div>
    </div>
  </div>