@import '../../../../../../assets/scss/global.scss';

.spy-search-result-item {
  border: solid 1px rgba(0,0,0,.12);
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  padding: 1em;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;

  .searching-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .ssri-header {

    .ssri-header-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .ssri-header-title {
      width: calc(100% - 50px);
      padding-left: 10px;

      h5 {
        color: #000;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: .3rem;
        padding-right: 40px;
      }

      .post-action {
        position: absolute;
        right: 10px;
        top: 16px;

        .fa {
          cursor: pointer;
          margin-left: 4px;
          color: #999;
          
          &:hover {
            color: $primary21;
          }

          &.fa-active {
            color: $primary21;
          }
        }
      }

      .ssri-publish-time {
        padding-left: 25px;

        .icon-clock {
          position: absolute;
          margin-left: -25px;
          margin-top: 1px;
          font-size: 1.5em;
        }
      }
    }

  }

  .ssri-body {
    padding-top: .8em;
    
    .srri-content {
      .ssri-content-line {
        position: relative;
        padding-left: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.8em;

        a {
          text-decoration: none;
          color: #2471A3;
        }

        mat-icon {
          position: absolute;
          left: 0;
          top: 0.12em;
          font-size: 1.4em;
        }
      }
    }

    .ssri-thumbnail {
      width: 100%;
      height: 240px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      margin-top: .3rem;
      .ssri-thumbnail-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .icon-play {
        position: absolute;
        z-index: 1;
        margin: auto;
        top: calc(50% - 40px);
        left: 0;
        right: 0;
        background-image: url('../../../../../../assets/img/icon/icon-fb-01.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 0 0;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 80px;
        height: 80px;
        outline: none;
        padding: 0;
      }

      .ssri-platform-logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 4px;
        left: 4px;
        opacity: .8;

        .ssri-platform-logo-image {
          width: 100%;
          height: 100%;
        }
      }

      .ssri-thumbnail-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
        z-index: 2;
        color: rgba(255,255,255,0);
        padding: 90px 0;
        text-align: center;
        user-select: none;

        .icon-view-more {
          font-size: 2.4em;
          width: 100px;
          height: auto;
        }
        .text-view-more {
          margin-top: -1em;
        }
      }

      &:hover {
        .ssri-thumbnail-overlay {
          background-color: rgba(0,0,0,0.36);
          color: rgba(255,255,255,1);
        }
      }
    }

    .ssri-performance {
      padding-top: 10px;
      color: #666;
      user-select: none;
      position: relative;

      .ssri-performance-icon {
        margin-right: 20px;

        &.ssri-performance-like {
          .fa {
            color: #2471A3;
          }
        }
      }

    }
  }

}