<div class="referral-dialog">
  <div mat-dialog-title class="dialog-header">
    <h4>Referral Agreement</h4>
  </div>
  <div class="dialog-body">
    <h5>FOREWORD</h5>
    <p>Thank you for signing up for the AdsCrawlr Referral Program. We appreciate your involvement and pledge to do our
      best
      to treat each and every one of our affiliates with the respect and fairness they deserve. We simply ask for the
      same
      in return.</p>

    <p>Below, you can find our Referral Terms and Conditions. Please take your time to carefully read these Referral
      Terms and Conditions before proceeding with the registration. By completing your registration, you indicate the
      acceptance of these Terms and Conditions which is a precursor for your acceptance into the AdsCrawlr Referral
      Program.</p>

    <p>If you have any questions pertaining to these Terms and Conditions or the AdsCrawlr Referral Program in general,
      please do not hesitate to contact us at alex@inbox.AdsCrawlr.com</p>

    <p>We look forward to working with you,</p>

    <p>The AdsCrawlr Team</p>

    <h5>AdsCrawlr Referral Terms and Conditions</h5>
    <p>PLEASE MAKE SURE TO READ THE ENTIRE DOCUMENT.</p>

    <p>THIS PAGE MAY BE PRINTED FOR YOUR RECORDS.</p>

    <p>THIS IS A LEGAL AGREEMENT BETWEEN YOU AND BIGMDATA.</p>

    <p>BY CLICKING ON THE “ACCEPT” BUTTON AT THE END OF THESE AFFILIATE TERMS AND CONDITIONS YOU ARE AGREEING THAT YOU
      HAVE READ AND UNDERSTOOD THESE TERMS AND CONDITIONS</p>

    <p>1. Overview</p>
    <p>These are the complete list of Terms and Conditions for the Referral Program. The purpose of enrolling in the
      Referral Program is to allow you to make affiliate commissions for the sales of our subscriptions originating from
      your promotional activities in the manner set forth herein.</p>

    <p>2. Referral Obligations and Rules</p>
    <p>2.1 To enroll in our Referral Program, you must:</p>

    <p>be at the age of majority in your jurisdiction or the age of 18 whichever is greater;
      have the legal authority to enter into this Agreement and to be bound to the promises, covenants, and other duties
      set forth herein;
      complete and submit the online application through the Referral Dashboard;
      be enrolled or accepted by AdsCrawlr into the Referral Program.</p>
    <p>2.2 AdsCrawlr may choose at their discretion to auto-approve your application. This does not imply that we will
      not
      re-evaluate your application at a later time. We reserve the right to reject your application at any point in
      time,
      at our sole discretion. This is especially true if the Referral’s website or promotional materials breach any of
      the points set out in 2.4.</p>

    <p>2.3 In the event that Referral materially breaches this Agreement and AdsCrawlr terminates this Agreement any
      accrued
      and payable Commissions owing to Referral shall be forfeited, and AdsCrawlr shall not be obligated to pay such
      Commissions to Referral.</p>

    <p>2.4 Referral agrees that Referral’s website, service or correspondence does not contain any materials that in
      AdsCrawlr’ sole discretion are considered to:</p>

    <p>Promote adult content, including nudity, sexual terms and/or images of people in positions or activities that are
      excessively suggestive or sexual, or provocative images in violation of legislation in your local jurisdiction;
      Includes violent, obscene, defamatory, libelous, slanderous and/or unlawful content;</p>
    <p>Promote hate speech, whether directed at an individual or a group, and whether based upon the race, sex, creed,
      national origin, religious affiliation, marital status, sexual orientation, gender identity, or the language of
      such
      individual or group;</p>
    <p>Incorporate any materials which infringe or assist others to infringe on any copyright, trademark or other
      intellectual property rights or to violate the law</p>
    <p>Includes “AdsCrawlr” or variations or misspellings thereof in its domain name and as keywords in PPC campaigns
    </p>
    <p>Promote politically religious agendas and/or any known associations with hate, criminal and/or terrorist
      activities;</p>
    <p>Promote gambling, including without limitation, any online casino, sportsbooks, bingo, or poker;</p>
    <p>Contain software downloads that potentially enable diversions of commission from other affiliates in our program;
    </p>
    <p>Make representations through code, designs, imagery, video, text or otherwise that makes your website resemble
      the
      AdsCrawlr Website in a manner which leads customers to believe you are the AdsCrawlr Website, business or a legal
      representative of AdsCrawlr in any way.</p>
    <p>Offer rebates, coupons, or other form of promised kickbacks from your Commission as an incentive. Adding bonuses
      or
      bundling other products with AdsCrawlr, however, is acceptable, if prior permission is received from the Referral
      Program Manager.</p>
    <p>Generate pop-ups, pop-unders, iframes, frames, or any other seen or unseen actions that set affiliate cookies
      unless
      the user has expressed a clear and explicit interest in activating a specific saving by clicking on a clearly
      marked
      link, button or image for that particular coupon or deal. Referral Program links must direct users to the
      AdsCrawlr
      Website</p>
    <p>2.4.1 User must be able to see coupon/deal/savings information and details before an affiliate cookie is set
      (i.e.
      “click here to see coupons and open a window to the AdsCrawlr website” is NOT allowed).</p>

    <p>2.4.2 Referral sites may not have “Click for (or to see) Deal/Coupon” or any variation, when there are no coupons
      or deals available, and the click opens the AdsCrawlr Website or sets a cookie. Referrals with such text will be
      removed from the program immediately.</p>

    <p>2.4.3 Referrals may not bid on or use phrases, such as AdsCrawlr Coupon(s), AdsCrawlr Discount(s) or other
      phrases
      implying coupons are available. Any misspellings of our brand name in combination with coupon/deal/savings or any
      synonyms or similar alterations of these words are also strictly prohibited.</p>

    <p>2.4.4 Referrals may not use misleading text on affiliate links, buttons or images to advertise anything besides
      currently authorized deals to the specific affiliate. The commercial purpose of the Referral’s marketing efforts
      must be clearly identifiable. The Referral shall not disguise its affiliate marketing efforts as consumer
      recommendations or as similar non-commercial messages.</p>

    <p>2.5. As a member of the Referral Program, you will be granted access to the Referral Dashboard. Here you will
      have
      an option to review the details of our Referral Program including our promotional materials, such as affiliate
      links to web pages within the AdsCrawlr Website and banner creatives. You will be free to browse and get tracking
      codes
      for our deals if and when they are available. In order for us to accurately keep track of all guest visits from
      your
      site to the AdsCrawlr Website, you must use the affiliate link that we provide for each banner, text link, HTML
      code or
      any other promotional material listed.</p>

    <p>2.6. AdsCrawlr reserves the right, at any time, to review your link placement and either approve or disapprove
      the use
      of your affiliate links and require that you change the placement of links or ask you to comply with these
      guidelines.</p>

    <p>2.7. The Referral is solely responsible for the maintenance and information updates on your site. For example if
      AdsCrawlr’ pricing policy changes, it will be up to the Referral to update this information. We may monitor your
      site
      as we feel necessary to make sure that it is up-to-date and to notify you of any changes that we feel should
      enhance
      your performance.</p>

    <p>2.8. It is your sole responsibility to follow all applicable laws, regulations, government decrees, authorities’
      decisions and the like relating to:</p>

    <p>1) protection of intellectual property;</p>

    <p>2) marketing of goods and services;</p>

    <p>3) unfair business practices; and</p>

    <p>4) any other similar field of regulation</p>

    <p>that pertain to your website or any promotional materials on your website. If you violate any such rules of law
      or
      any third party presents any allegations or claims that pertain to information you place on your website and
      promotional materials you use, you will indemnify and hold AdsCrawlr harmless for any and all costs arising out of
      any
      such violations, allegations or claims.</p>

    <p>2.9 As an affiliate, you can only create and use one (1) account. You can list multiple domains within one
      account,
      but only one account is allowed.</p>

    <p>2.10 Self-referrals for affiliate purchases are strictly prohibited. This means that you cannot refer yourself,
      your
      immediate family or the company you work for by using your affiliate link. You will not receive a Commission on
      any
      purchases by yourself for your own use, your immediate family members or the company you work for.</p>

    <p>2.11. We reserve the right to remove Abandoned Referral Accounts from our system if their balance is equal to or
      less than $50 after a 6 month period of inactivity. In this case any accumulated commissions below $50 (minimum
      payout threshold) will be forfeited.</p>

    <p>3. AdsCrawlr Rights and Obligations</p>
    <p>3.1. We reserve the right to monitor your site at any time to determine whether you are following these Terms and
      Conditions. We may inform you of any changes to your site that we feel you should make, or to ensure that your
      affiliate links to the AdsCrawlr Website are placed appropriately and to notify you of any other changes that we
      feel
      should be made. Failure to make the changes to your site that we feel are necessary within reasonable time (no
      longer than 30 days) constitutes a material breach of this Referral Agreement.</p>

    <p>3.2. AdsCrawlr reserves the right to terminate your participation in the Referral Program immediately and without
      prior notice to you if you commit fraud or abuse this Referral Program in any way (including material breaches of
      section 2.4 of this Referral Agreement). If such fraud or abuse is detected, AdsCrawlr shall not be liable to you
      for
      any Commissions for any fraudulent sales/sales based on abuse.</p>

    <p>3.3. These Terms and Conditions will begin to apply to you upon our acceptance of your Referral application, and
      their application will continue indefinitely unless terminated hereunder.</p>

    <p>4. Termination</p>
    <p>4.1 Either the Referral or AdsCrawlr may end this Referral Agreement at any time, with or without cause, by
      giving
      the other party written notice. Written notice can be sent by email to either party, or through any appropriate
      mechanism in the Referral Dashboard.</p>

    <p>4.2 If the Referral Agreement is terminated by either party in accordance with section 4.1, 3.2 or 4.3, AdsCrawlr
      shall not be liable to pay any Commission to you after the termination of the Referral Agreement.</p>

    <p>4.3 This Referral Agreement will terminate immediately without notice upon any material breach of the Terms and
      Conditions by the Referral.</p>

    <p>5. Modification</p>
    <p>We may modify, add or remove any of these Terms and Conditions at any point in time. In such event, you will need
      to
      comply with a revised version of these Terms and Conditions when prompted to do so in the Referral Dashboard. If
      any modification is unacceptable to you, your only option is to end your association with the Referral Program by
      closing your account.</p>

    <p>Continued participation in the Referral Program will indicate your agreement to the changes and your adherence to
      any modified Terms and Conditions.</p>

    <p>6. Commission Payment</p>
    <p>6.1. Commissions are earned from authorized referrals that generate purchases via your affiliate links.</p>

    <p>6.2. Commission amounts per product/service sold may be changed by AdsCrawlr at any time. This information is
      available
      to you in the Referral Dashboard. You are solely responsible for determining if the Commission amount for an
      affiliate link you have placed on your website has changed or been discontinued.</p>

    <p>6.3. No Commission payment shall be made unless the total accrued unpaid commissions exceed the minimum threshold
      of
      $50. The commission due are calculated in accordance with the statistics and balance that are collected,
      calculated,
      and displayed on the Referral Dashboard. The only valid statistics used for determining Commissions will be those
      displayed in the Referral Dashboard. When the commission is up to the conditions for withdrawal, you can only
      withdraw after 30 days.</p>

    <p>6.4. If the buyer does not request a refund within the time frame, and the commission is not generated by
      self-recommendation and does not violate any other terms of this franchise agreement, the commission will be paid
      normally.</p>

    <p>6.5. Referral is responsible for any and all charges, fees, taxes, exchange rates, surcharges and other expenses
      arising out of the Referral relationship with AdsCrawlr including those incurred in order to receive affiliate
      payments.</p>

    <p>6.6. Available payment options for Commissions are described in the Referral Dashboard, any other payment options
      may be declined for use at our discretion. Our primary payout option is PayPal. Please email us at
      alex@inbox.AdsCrawlr.com, if there is any problem.</p>

    <p>6.7. Payments will only be sent for affiliate purchases that have been successfully completed. Transactions that
      result in chargebacks or refunds will be void.</p>

    <p>7. Referral Promotional Materials</p>
    <p>7.1. You are free to promote what you deem appropriate on your own website(s), but any promotion that mentions
      AdsCrawlr and any associated trademarks may be perceived by the press or the public as a joint effort. You should
      therefore note that certain forms of advertising are always prohibited by AdsCrawlr. Any promotions by Referrals
      should never contravene promotional laws in their location.</p>

    <p>Advertising commonly known as “spamming” is inappropriate and unacceptable to us and constitutes a material
      breach
      of this Referral Agreement. Other prohibited forms of advertising include the use of unsolicited commercial email
      (UCE), postings to non-commercial newsgroups and cross-posting to multiple newsgroups at once. Additionally, you
      may
      not advertise in any way that effectively hides or misrepresents your own identity, your domain name, or your
      email
      address. You may use emails or other messages to customers to promote AdsCrawlr’ services if the recipient is
      already a
      customer or subscriber of your services or website, and recipients have the option to remove themselves from
      future
      mailings and such emails or other messages are otherwise sent in compliance with the laws applicable to them.</p>

    <p>In any direct marketing messages sent by the Referral, the Referral must identify itself and its contact details.
      Where the Referral processes personal data relating to identified or identifiable individuals, the Referral
      undertakes to provide to data subjects any information required in the applicable data protection legislation
      (including but not limited to information referred to in Articles 13 and 14 of the General Data Protection
      Regulation (EU) 2016/679). The Referral shall especially provide to the data subjects information on how to
      exercise their rights under the applicable data protection legislation.</p>

    <p>Also, you may only post to newsgroups to promote AdsCrawlr’ subscription if the news group specifically welcomes
      commercial messages. You must always clearly represent yourself and your websites as independent from AdsCrawlr.
    </p>

    <p>7.2. Referrals that exclusively bid in their pay-per-click campaigns on keywords such as AdsCrawlr.com,
      AdsCrawlr,
      AdsCrawlr, AdsCrawlr coupons, AdsCrawlr Discounts, super metrics, www.AdsCrawlr, www.AdsCrawlr.com, Data Grabber
      and/or any
      misspellings or similar alterations of these – be it separately or in a combination with any other keywords – and
      do
      not direct the traffic from such campaigns to their own website prior to redirecting it to our website, will be
      considered to be in material breach of the Referral Agreement. Using “doorway pages” in such instances or overall
      as part of AdsCrawlr promotional activities is also strictly prohibited.</p>

    <p>7.3. Referral shall not transmit any so-called “interstitials,” “Parasiteware,” “Parasitic Marketing,” “Shopping
      Assistance Application,” “Toolbar Installations and/or Add-ons,” “Shopping Wallets” or “deceptive pop-ups and/or
      pop-unders” to consumers from the time the consumer clicks on a qualifying link until such time as the consumer
      has
      fully exited the AdsCrawlr Website (i.e., no page from our site or any AdsCrawlr’ content or branding is visible
      on
      the
      end-user’s screen). As used herein a. “Parasiteware” and “Parasitic Marketing” shall mean an application that</p>

    <p>(a) through accidental or direct intent causes the overwriting of affiliate and non-affiliate commission tracking
      cookies through any other means than a customer initiated click on a qualifying link on a web page or email;</p>

    <p>(b) intercepts searches to redirect traffic through an installed software, thereby causing, pop ups, commission
      tracking cookies to be put in place or other commission tracking cookies to be overwritten where a user would
      under
      normal circumstances have arrived at the same destination through the results given Internet search and directory
      engines (services referred here as examples include, but are not limited to, Google, MSN, Yahoo, Overture,
      AltaVista, Hotbot);</p>

    <p>(c) set commission tracking cookies through loading of AdsCrawlr site in IFrames, hidden links and automatic pop
      ups
      that open AdsCrawlr.com’s site;</p>

    <p>(d) targets text on websites, other than those sites 100% owned by the application owner, for the purpose of
      contextual marketing; or</p>

    <p>(e) removes, replaces or blocks the visibility of Referral banners with any other banners, other than those that
      are on websites 100% owned by the owner of the application.</p>

    <p>8. Grant of Licenses</p>
    <p>8.1. We grant to you a non-exclusive, non-transferable, revocable right to (i) access our site through
      affiliate/referral links solely in accordance with the terms of this Agreement and (ii) solely in connection with
      such links, to use our logos, trade names, trademarks, and similar identifying material (collectively, the
      “Licensed
      Materials”) that we provide to you or authorize for such purpose. You are only entitled to use the Licensed
      Materials to the extent that you are a member in good standing of the Referral Program. You agree that all uses of
      the Licensed Materials will be on behalf of AdsCrawlr and the goodwill associated with it will inure to the sole
      benefit of AdsCrawlr.</p>

    <p>8.2. Each party agrees not to use the other’s proprietary materials in any manner that is disparaging,
      misleading,
      obscene or that otherwise portrays the party in any negative light. Each party reserves all of its respective
      rights
      in the proprietary materials covered by this license. Other than the license granted in this Referral Agreement,
      each party retains all right, title, and interest to its respective rights and no right, title, or interest is
      transferred to the other.</p>

    <p>9. Disclaimer</p>
    <p>AdsCrawlr MAKES NO EXPRESS OR IMPLIED REPRESENTATIONS OR WARRANTIES REGARDING AdsCrawlr SERVICE AND WEB SITE OR
      THE
      PRODUCTS OR SERVICES PROVIDED THEREIN, ANY IMPLIED WARRANTIES OF AdsCrawlr’ ABILITY, FITNESS FOR A PARTICULAR
      PURPOSE,
      AND NON-INFRINGEMENT ARE EXPRESSLY DISCLAIMED AND EXCLUDED. IN ADDITION, WE MAKE NO REPRESENTATION THAT THE
      OPERATION OF OUR SITE WILL BE UNINTERRUPTED OR ERROR FREE, AND WE WILL NOT BE LIABLE FOR THE CONSEQUENCES OF ANY
      INTERRUPTIONS OR ERRORS.</p>

    <p>10. Representations and Warranties</p>
    <p>You represent and warrant that:</p>

    <p>10.1. This Referral Agreement has been duly and validly executed and delivered by you and constitutes your legal,
      valid, and binding obligation, enforceable against you in accordance with its terms;</p>

    <p>10.2. You have the full right, power, and authority to enter into and be bound by the terms and conditions of
      this
      Referral Agreement and to perform your obligations under this Referral Agreement, without the approval or consent
      of any other party;</p>

    <p>10.3. You have sufficient right, title, and interest in and to the rights granted to us in this Referral
      Agreement.</p>

    <p>11. Limitations of Liability</p>
    <p>TO THE EXTENT PERMITTED BY LAW, WE WILL NOT BE LIABLE TO YOU WITH RESPECT TO ANY SUBJECT MATTER OF THIS AGREEMENT
      UNDER ANY CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY FOR ANY INDIRECT,
      INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES (INCLUDING, WITHOUT LIMITATION, LOSS OF REVENUE OR
      GOODWILL
      OR ANTICIPATED PROFITS OR LOST BUSINESS), EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
      FURTHER,
      NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED IN THIS AGREEMENT, IN NO EVENT SHALL AdsCrawlr’ CUMULATIVE
      LIABILITY
      TO YOU ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER BASED IN CONTRACT, NEGLIGENCE, STRICT LIABILITY, TORT
      OR
      OTHER LEGAL OR EQUITABLE THEORY, EXCEED THE TOTAL COMMISSION FEES PAID TO YOU UNDER THIS AGREEMENT.</p>

    <p>12. Indemnification</p>
    <p>You hereby agree to indemnify and hold harmless AdsCrawlr, and its subsidiaries and affiliates, and their
      directors,
      officers, employees, agents, shareholders, partners, members, and other owners, against any and all claims,
      actions,
      demands, liabilities, losses, damages, judgments, settlements, costs, and expenses (including reasonable
      attorneys’
      fees) (any or all of the foregoing hereinafter referred to as “Losses”) insofar as such Losses (or actions in
      respect thereof) arise out of or are based on</p>

    <p>(i) any claim that our use of the Referral trademarks infringes on any trademark, trade name, service mark,
      copyright, license, intellectual property, or other proprietary right of any third party,</p>

    <p>(ii) any misrepresentation of a representation or warranty or breach of a covenant and agreement made by you
      herein,
      or</p>

    <p>(iii) any claim related to your site, including, without limitation, content therein not attributable to us.</p>

    <p>13. Confidentiality</p>
    <p>All confidential information, including, but not limited to, any business, technical, financial, and customer
      information, disclosed by one party to the other during negotiation or the effective term of this Referral
      Agreement which is marked “Confidential,” will remain the sole property of the disclosing party, and each party
      will
      keep in confidence and not use or disclose such proprietary information of the other party without express written
      permission of the disclosing party.</p>

    <p>14. Miscellaneous</p>
    <p>14.1. You certify that you are an independent contractor, and as such, nothing in this Referral Agreement will
      create any partnership, joint venture, agency, franchise, sales representative, or employment relationship between
      you and AdsCrawlr. You will have no authority to make or accept any offers or representations on our behalf. You
      will
      not make any statement, whether on your website or any other website or otherwise, that reasonably would
      contradict
      anything in this Section.</p>

    <p>14.2 The parties note that the Referral is free to determine the essential means of processing personal data
      relating to its affiliate marketing activities. For instance, whether or not the Referral targets any identified
      or
      identifiable natural persons as a part of its marketing efforts, or otherwise processes personal data for
      affiliate
      marketing purposes, is solely determined by the Referral. As a consequence, the Referral serves as a data
      controller with regard to any personal data processed by it for the purpose of the conclusion and performance of
      this Referral Agreement.</p>

    <p>The Referral undertakes to process personal data only in accordance with the applicable data protection laws,
      including but not limited to the General Data Protection Regulation (GDPR) (EU) 2016/679. Any material breach by
      the
      Referral of the applicable data protection laws is considered as a material breach of this Referral Agreement.</p>

    <p>14.3. Neither party may assign its rights or obligations under this Referral Agreement to any third party, except
      to a party who obtains all or substantially all of the business or assets of a party to this Referral Agreement.
    </p>

    <p>14.4. This Referral Agreement shall be governed by and interpreted in accordance with the laws without regard to
      the conflicts of laws and principles thereof. Any disputes relating to or arising out of this Referral Agreement
      shall be resolved by the District Court of Singapore as the court of the first instance.</p>

    <p>14.5. You may not amend or waive any provision of this Referral Agreement unless in writing and signed by both
      parties.</p>

    <p>14.6. This Referral Agreement represents the entire agreement between us and you, and shall supersede all prior
      agreements and communications of the parties, oral or written.</p>

    <p>14.7. The headings and titles that are contained in this Referral Agreement are included for convenience only,
      and
      shall not limit or otherwise affect the terms of this Referral Agreement.</p>

    <p>14.8. If any provision of this Referral Agreement is held to be invalid or unenforceable, that provision shall be
      eliminated or limited to the minimum extent necessary such that the intent of the parties is effectuated, and the
      remainder of this Referral Agreement shall have full force and effect.</p>

    <p>14.9 The Referral Agreement is an electronic contract that sets out the legally binding terms of your
      participation
      in the AdsCrawlr Referral Program. You indicate your acceptance of this Referral Agreement and all of the terms
      and
      conditions contained or referenced in this Referral Agreement by completing the Referral Program
      application/signup process. This action creates an electronic signature that has the same legal force and effect
      as
      a handwritten signature.</p>
  </div>

  <div mat-dialog-actions class="dialog-footer">
    <div class="container">
      <div class="row" style="width: 100%; margin: 0;">
        <div class="col-6">
          <button class="btn btn-focus g-float-right" (click)="yes()">{{data.yes ? data.yes : 'Accept'}}</button>
        </div>
        <div class="col-6">
          <button class="btn g-float-left" (click)="no()">{{data.no ? data.no : 'Decline'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>