$primary1: #222021; /* #7db9eb */
$primary11: #000;
$primary2: #ff9c66; /* #f2a47a */
$primary21: #ff8949;

$bgColor: #f3f1f8;
$textColor1: #212529;
$errorColor: #ed4337;
$borderColor: #ced4da; /* #ced4da */

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
