$primary1: #252d39; /* #7db9eb  #222021 #00c7b0*/
$primary11: #121314;
$primary2: #86c33a; /*  #ff8949 #f2a47a */
$primary21: rgba(134, 195, 58, 0.2); /*  #f57a37 */

$bgColor: #f3f1f8;
$textColor1: #212529;
$errorColor: #ed4337;
$borderColor: #ced4da; /* #ced4da */

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
