<div class="container">

  <div class="row mb-4">

    <div class="col-lg-4 col-md-4">
      <label class="g-text-bold">Current plan</label>
      <div>
        BASIC PLAN
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <label class="g-text-bold">Started Date</label>
      <div>
        2020-01-01
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <label class="g-text-bold">State</label>
      <div>
        Active
      </div>
    </div>

  </div>

  <div class="mt-4">
    <div>
      <div class="mb-3 g-text-bold">Payment History</div>
    </div>

    <div>
      <table class="table">
        <thead class="">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="g-text-left">Plan</th>
            <th scope="col" class="g-text-center">Amount</th>
            <th scope="col" class="g-text-center">Date</th>
            <th scope="col" class="g-text-center">State</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="g-text-left">Basic</td>
            <td class="g-text-right">$9.00</td>
            <td class="g-text-center">2020-05-11 8:00:25 AM</td>
            <td class="g-text-center">Success</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="g-text-left">Basic</td>
            <td class="g-text-right">$9.00</td>
            <td class="g-text-center">2020-05-11 8:00:25 AM</td>
            <td class="g-text-center">Success</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="g-text-left">Basic</td>
            <td class="g-text-right">$9.00</td>
            <td class="g-text-center">2020-05-11 8:00:25 AM</td>
            <td class="g-text-center">Success</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>