<div class="container">

  <div class="row mb-4">

    <div class="col-lg-4 col-md-4 mb-3">
      <label class="g-text-bold">Current plan</label>
      <div class="text-primary">
        {{user.plan?.toUpperCase()}}
      </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <label class="g-text-bold">Started Date</label>
      <div>
        {{currentSubscription.from | date: 'yyyy-MM-dd'}}
      </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-3">
      <label class="g-text-bold">State</label>
      <div>
        Active
      </div>
    </div>

  </div>

  <div class="mt-4">
    <div>
      <div class="mb-3 g-text-bold">Payment History</div>
    </div>

    <div>
      <table class="table">
        <thead class="">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="g-text-left">Plan</th>
            <th scope="col" class="g-text-center">Amount</th>
            <th scope="col" class="g-text-center">Date</th>
            <th scope="col" class="g-text-center">State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments; let i = index;">
            <th scope="row">{{i + 1}}</th>
            <td class="g-text-left">{{payment.plan?.toUpperCase()}}</td>
            <td class="g-text-right">{{payment.currency}} {{payment.amount | number: '1.2-2'}}</td>
            <td class="g-text-center">{{payment.createDate | date: 'yyyy-MM-dd hh:mm a'}}</td>
            <td class="g-text-center">{{payment.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>