@import '../../../../assets/scss/global.scss';

footer {
  background-color: $primary1;
  color: rgba(255,255,255,.9);
  min-height: 140px;
  padding-top: 15px;
  padding-bottom: 15px;

  .row > div {
    margin-bottom: 15px;
  }

  .col-title {
    font-weight: 500;
  }

  a {
    color: rgba(255,255,255,.7);
    font-weight: 400;
  }

  .copyright {
    margin-top: 15px;
    color: rgba(255,255,255,.7);
  }
}