<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="col-title"><a href="/">AdsCrawlr</a></div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="col-title mb-3">QUICK LINKS</div>
        <div class="link-item"><a href="/">Home</a></div>
        <div class="link-item"><a href="/ads">Ads Apy</a></div>
        <!-- <div class="link-item"><a href="/#pricing">Pricing</a></div> -->
        <div class="link-item"><a href="/#">Referral Program</a></div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="col-title mb-3">ABOUT</div>
        <div class="link-item"><a href="/faq">FAQ</a></div>
        <div class="link-item"><a href="/privacy">Privacy</a></div>
        <div class="link-item"><a href="/terms">Terms</a></div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="col-title mb-3">SUBSCRIBE US</div>
        <div>
          <div class="subscribe-wrapper">
            <input type="email" class="form-control input-subscribe" [(ngModel)]="email" placeholder="Enter your email">
            <button class="btn btn-primary btn-subscribe" (click)="subscribe()">SUBSCRIBE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="g-text-center g-text-sm copyright">
      Copyright <i class="fal fa-copyright"></i> {{year}} AdsCrawlr.com. All rights reserved.
    </div>
  </div>
</footer>