<footer>
  <div class="g-site-container">
    <div class="footer-inner">
      <p>footer works!</p>
      <div>
        You can also use the appearance property on the Setting appearance="none" will remove the underline without any
        css hack. And you can also get rid of ::ng-deep which is not recommended.
        You can also use the appearance property on the Setting appearance="none" will remove the underline without any
        css hack. And you can also get rid of ::ng-deep which is not recommended.
        You can also use the appearance property on the Setting appearance="none" will remove the underline without any
        css hack. And you can also get rid of ::ng-deep which is not recommended.
      </div>
    </div>
  </div>
</footer>