<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="col-title"><a href="/">AdsCrawlr</a></div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="col-title mb-2">QUICK LINKS</div>
        <div><a href="/">Home</a></div>
        <div><a href="/ads">Ads Apy</a></div>
        <div><a href="/#pricing">Pricing</a></div>
        <div><a href="/#">Referral Program</a></div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="col-title mb-2">ABOUT</div>
        <div><a href="/#">FAQ</a></div>
        <div><a href="/#">About Us</a></div>
        <div><a href="/privacy">Privacy</a></div>
        <div><a href="/terms">Terms</a></div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="col-title mb-2">NOTIFICATION</div>
        <div><a href="/">Email Notification</a></div>
      </div>
    </div>

    <div class="g-text-center g-text-sm copyright">
      Copyright 2019 UltimateSpy.com. All rights reserved.
    </div>
  </div>
</footer>