@import '../../../../assets/scss/global.scss';

footer {
  background-color: #fff;
  color: $textColor1;
  min-height: 140px;
  padding-top: 15px;
  padding-bottom: 15px;

  .row > div {
    margin-bottom: 15px;
  }

  .col-title {
    font-weight: 500;
  }

  a {
    color: $textColor1;
  }

  .copyright {
    margin-top: 15px;
    color: $textColor1;
  }
}