@import './../../../../assets/scss/global.scss';

.reset-password-page {
  // background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 20px;

  .form-reset-password {
    width: 100%;
    width: 420px;
    padding: 15px;
    margin: 0 auto;

    .form-label-group {
      margin-bottom: 0.5em;
      position: relative;

      label {
        font-weight: 500;
        margin-bottom: 0.2rem;
      }

      .form-control.error-form-control {
        border-color: $errorColor;
      }
    }

    .mail {
      font-style: italic;
      font-weight: 500;
    }

    .error-text {
      color: $errorColor;
      margin-top: -0.4rem;
    }

    .success-text {
      color: $successColor;
    }

    .reset-redirect {
      margin-top: 1rem;

      a {
        text-decoration: underline;
        color: $primary1;
      }
    }

    .btn-reset {
      position: relative;
      font-weight: 500;
      
      .mat-progress-spinner {
        position: absolute;
        right: 130px;
        top: 10px;
      }

      .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #fff !important;
      }
    }

  }

}
