<div class="reset-password-page">
  <div style="height: 1px;margin-top: -1px;"></div>
  <form class="form-reset-password" [formGroup]="resetForm" (ngSubmit)="reset()">
    <div class=" text-center mb-2">
      <a href="/"><img class="mb-4" src="../../../../assets/img/logo.png" alt="AdsCrawlr" height="30"></a>
      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
    </div>
    <div class="form-label-group">
      You are reseting password for email <span class="mail">{{email}}</span>
    </div>
    <div class="form-label-group">
      <label for="inputPassword" class="g-float-left">Password</label>
      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password"
        formControlName="password" required="" [ngClass]="{'error-form-control': f.password.touched && f.password.errors}">
    </div>
    <div class="form-label-group">
      <label for="inputConfirmPassword" class="g-float-left">Confirm Password</label>
      <input type="password" id="inputConfirmPassword" class="form-control" [(ngModel)]="confirmPassword"
        formControlName="confirmPassword" required="" [ngClass]="{'error-form-control': f.confirmPassword.touched && f.confirmPassword.errors}">
    </div>

    <div class="error-text g-text-sm mb-2">&nbsp;{{errorMessage}}</div>

    <button class="btn btn-primary btn-block btn-reset" type="submit">
      Reset password <mat-spinner *ngIf="loading" [diameter]="26"></mat-spinner>
    </button>
    <div class="success-text" [innerHTML]="responseMessage"></div>
    <div class="reset-redirect text-center">
      Back to <a href="/signin">Sign in</a> page
    </div>
  </form>

  <div style="height: 1px; margin-top: -1px;"></div>
</div>