<div class="faq-page">
  <div class="container">
    <h2 class="page-title g-text-center">FAQ</h2>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <h4 class="accordion-title g-text-center">1. About AdsCrawlr</h4>
        <div class="accordion accordion-connected accordion-arrow-right" id="accordion-faq-1">
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-1-1">
                What is AdsCrawlr?
              </a>
            </h5>
            <div id="collapse-faq-1-1" class="collapse" data-parent="#accordion-faq-1">
              <div class="card-body">AdsCrawlr is an ad spy tool for people to draw creative inspirations for their new
                marketing campaigns. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-1-2">
                Why do you create such a tool?
              </a>
            </h5>
            <div id="collapse-faq-1-2" class="collapse" data-parent="#accordion-faq-1">
              <div class="card-body">Our mission is making the advertising market more transparency and productivity,
                and our vision is Passionate to create data tools for business and the public. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-1-3">
                Which country does AdsCrawlr cover?
              </a>
            </h5>
            <div id="collapse-faq-1-3" class="collapse" data-parent="#accordion-faq-1">
              <div class="card-body">We currently cover 40 countries all over the world. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-1-4">
                How many networks does AdsCrawlr cover?
              </a>
            </h5>
            <div id="collapse-faq-1-4" class="collapse" data-parent="#accordion-faq-1">
              <div class="card-body">We currently cover six networks, Facebook, Instagram, Twitter, Admob, Pinterest and
                Yahoo. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-1-5">
                Do you support other language?
              </a>
            </h5>
            <div id="collapse-faq-1-5" class="collapse" data-parent="#accordion-faq-1">
              <div class="card-body">We just have the English version currently.Support for other languages ​​will be
                considered based on the magnitude of the target language user, so stay tuned.</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-1-6" aria-expanded="false">
                What is the advantage of your product?
              </a>
            </h5>
            <div id="collapse-faq-1-6" class="collapse" data-parent="#accordion-faq-1">
              <div class="card-body">It has a huge database covered more than 160,000,000 ads from over 40 countries and
                is still growing. It allows you to obtain advanced searching with its various filters. As well it would
                help you to discover advertising strategies and track trends at an affordable&nbsp; price. </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <h4 class="accordion-title g-text-center">2. About Operations</h4>
        <div class="accordion accordion-connected accordion-arrow-right" id="accordion-faq-2">
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-1">
                How can I find the latest hot ads?
              </a>
            </h5>
            <div id="collapse-faq-2-1" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">You can go to “<a href="https://adscrawlr.com/tracked" target="_blank"
                  rel="noreferrer noopener" aria-label="（在新窗口打开）">Featured Ads</a>” which are picked by big data and
                intelligence, and you can discover new ideas tracked by thousands of users from “<a
                  rel="noreferrer noopener" aria-label="（在新窗口打开）" href="https://adscrawlr.com/tracked"
                  target="_blank">People Tracked</a>”as well. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-2">
                Why do I get results with some products I’m not interested in?
              </a>
            </h5>
            <div id="collapse-faq-2-2" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">With the same keyword, it would be added in different ads creatives, you can
                exclude the product by filling the name in the “Exclude in result” field, and click “Submit” </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-3">
                Why can I only view ads on Facebook?
              </a>
            </h5>
            <div id="collapse-faq-2-3" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">As for Free members, only ads on Facebook are accessible; for the Basic plan,
                Facebook and Instagram ads are available; for the Pro plan, all six networks can access. If you want to
                view more networks,please <a href="https://adscrawlr.com/pricing">upgrade</a>.</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-4">
                How would featured ads be sorted?
              </a>
            </h5>
            <div id="collapse-faq-2-4" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">It can be sorted by filters like ”Last Seen”, “First Seen”, “Like”, “Comments” and
                “Shares”. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-5">
                Can I check featured ads in other networks?
              </a>
            </h5>
            <div id="collapse-faq-2-5" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">We just offer featured ads on facebook. People tracked ads are based on all six
                networks. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-6">
                How can I access to the original ads?
              </a>
            </h5>
            <div id="collapse-faq-2-6" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">You can click the title of ads interested you and it will turn to the original ads
                on the network. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-7">
                How many creatives can I download？
              </a>
            </h5>
            <div id="collapse-faq-2-7" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">Basic users can download 25 creatives per day; Pro users can download 250 creatives
                per day.in the elite plan, 999 downloads daily.</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-8">
                How many ads can I track?
              </a>
            </h5>
            <div id="collapse-faq-2-8" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">Basic user can track 25 creatives daily; Pro user can track 250 creatives daily. in
                the elite plan, 999 downloads daily. Even if you delete some ads tracked, tracking time will still be
                counted. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-9">
                For the tracked ads, what information can I obtain？
              </a>
            </h5>
            <div id="collapse-faq-2-9" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">After tracking, you can access to the trend of ads easily, like the period and
                performance variation. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-faq-2-10">
                Can I check the rank of advertisers?
              </a>
            </h5>
            <div id="collapse-faq-2-10" class="collapse" data-parent="#accordion-faq-2">
              <div class="card-body">Sure, you can upgrade to ELITE plan, then just go to "Top Charts" to check it.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <h4 class="accordion-title g-text-center">3. About Payment</h4>
        <div class="accordion accordion-connected accordion-arrow-right" id="accordion-faq-3">
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-1">
                Can I pay with PayPal?
              </a>
            </h5>
            <div id="accordion-faq-3-1" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Sorry, only credit card and Alipay is acceptable.</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-2">
                How to understand the number of downloads?
              </a>
            </h5>
            <div id="accordion-faq-3-2" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Each time you download creatives, the number of downloads is counted once.When you
                run out daily quota, you will not be able to download until the quota is reset in next day. Or you can
                get more downloads by upgrading.</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-3">
                How to understand the number of tracking?
              </a>
            </h5>
            <div id="accordion-faq-3-3" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Each time you track ad, the number of track is counted once. When you run out daily
                tracking quota, you will not be able to track until the tracking quota is reset in next day. Or you can
                get more tracking times by upgrading.</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-4">
                Do you offer refunds
              </a>
            </h5>
            <div id="accordion-faq-3-4" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Please kindly check our refund policy. https://adscrawlr.com/refund-policy</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-5">
                Can I cancel anytime?
              </a>
            </h5>
            <div id="accordion-faq-3-5" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Yes, you can cancel your subscription whenever you'd like and continue to use
                AdsCrawlr for the remainder of your billing cycle. We will not charge after the expiry date. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-6">
                Do you offer invoice?
              </a>
            </h5>
            <div id="accordion-faq-3-6" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Yes, you can click your account in the top right conner and go to “My plan—&gt;
                Invoice”&nbsp; to download it. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-7">
                How can we cancel auto-renewing subscriptions?
              </a>
            </h5>
            <div id="accordion-faq-3-7" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">You can click your account in the top right conner and go to “My plan—&gt;
                Plan”&nbsp; to cancel it. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-8">
                When I try to make payment, I can not find my country in the list.
              </a>
            </h5>
            <div id="accordion-faq-3-8" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">The list is not in alphabetical order, so please check it carefully. Or you can
                feel free to contact us. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-9">
                How to upgrade ?
              </a>
            </h5>
            <div id="accordion-faq-3-9" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">If you want to upgrade your plan, you can go to the “Pricing” page, choose more
                advanced plan and pay the price differences. Or you can go to “My plan—&gt; Plan” to <a
                  href="https://adscrawlr.com/pricing">upgrade</a> it. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-10">
                I didn’t click too much, why my query is out of daily limit？
              </a>
            </h5>
            <div id="accordion-faq-3-10" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Each time you use searching, filtering, sorting or paging, the number of queries is
                counted once.When you run out daily quota, you will not be able to query until the quota is reset in
                next day. Or you can get more queries by <a href="https://adscrawlr.com/pricing">upgrading</a>.</div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-11">
                After cancellation, can I still use it?
              </a>
            </h5>
            <div id="accordion-faq-3-11" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Yes, after your cancellation, you still can use your remainder of billing cycle.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-12">
                Can I upgrade to ELITE plan from BASIC plan?
              </a>
            </h5>
            <div id="accordion-faq-3-12" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Of course, you just need to pay the difference to upgrade to ELITE plan. </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#accordion-faq-3-13">
                Is it available to check Top Chats with PRO plan?
              </a>
            </h5>
            <div id="accordion-faq-3-13" class="collapse" data-parent="#accordion-faq-3">
              <div class="card-body">Only ELITE plan can access Top Charts analysis. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p class="bottom-text g-text-center">
          If you have some other questions, please contact us at email <span class="g-text-mail">adscrawlr@gmail.com</span>.
        </p>
      </div>
    </div>

  </div>
</div>