<div class="forgot-password-page">

  <form class="form-forgot-password" [formGroup]="forgotPassword" (ngSubmit)="forgotPassword()">
    <div class=" text-center mb-4">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
        height="72">
      <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
      <p>Enter your user account's verified email address and we will send you a password reset link.</p>
    </div>
    <div class="form-label-group">
      <label for="inputEmail">Email address</label>
      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" formControlName="email" required="" autofocus="">
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-forgot-password" type="submit">
      Send <mat-spinner *ngIf="loading" [diameter]="26"></mat-spinner>
    </button>

    <div class="signin-redirect text-center">
      <a href="/signin">Back to sign in page</a>
    </div>
  </form>

</div>
