<div class="forgot-password-page">

  <form *ngIf="!requestComplete" class="form-forgot-password" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <div class=" text-center mb-2">
      <a href="/"><img class="mb-4" src="../../../../assets/img/logo.png" alt="AdsCrawlr" height="30"></a>
      <h1 class="h3 mb-2 font-weight-normal">Forgot password</h1>
      <p>Enter your user account's verified email address and we will send you a password reset link.</p>
    </div>
    <div class="form-label-group">
      <label for="inputEmail">Email address</label>
      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" formControlName="email"
        required="" [ngClass]="{'error-form-control': f.email.touched && f.email.errors}">
    </div>

    <div class="error-text g-text-sm mb-2">&nbsp;{{errorMessage}}</div>

    <button class="btn btn-primary btn-block btn-forgot-password" type="submit">
      Send <mat-spinner *ngIf="loading" [diameter]="26"></mat-spinner>
    </button>

    <div class="signin-redirect text-center">
      <a href="/signin">Back to sign in page</a>
    </div>
  </form>

  <div class="request-complete" *ngIf="requestComplete">
    <h1>Check you mail box</h1>
    <div>
      <i class="fal fa-envelope"></i>
    </div>
    <div>Send success! Please open your mail box and change your password by clicking to the reset
      link.</div>
    <div>
      <a href="/signin"><button color="primary" class="btn btn-primary btn-redirect">Back to sign in page</button></a>
    </div>
  </div>

</div>
