@import './../../../../assets/scss/global.scss';

.forgot-password-page {
  //background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;

  .form-forgot-password {
    width: 100%;
    width: 420px;
    padding: 15px;
    margin: 0 auto;

    .form-label-group {
      margin-bottom: 1em;
      position: relative;

      label {
        font-weight: 500;
        margin-bottom: 0.2rem;
      }

      .form-control.error-form-control {
        border-color: $errorColor;
      }
    }
    
    .error-text {
      color: $errorColor;
      margin-top: -1rem;
    }

    .signin-redirect {
      margin-top: 1rem;

      a {
        color: $primary1;
      }
    }

    .btn-forgot-password {
      position: relative;
      background-color: $primary1;
      
      .mat-progress-spinner {
        position: absolute;
        right: 130px;
        top: 10px;
      }

      .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #fff !important;
      }
    }
  }

  .request-complete {
    max-width: 400px;
    min-height: 360px;
    display: block;
    margin: auto;
    margin-top: max(calc((100vh - 360px) / 2), 40px);
    margin-bottom: max(calc((100vh - 360px) / 2), 40px);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;

    h1 {
      font-weight: strong;
      font-size: 2em;
    }

    .fa-envelope {
      color: $primary2;
      font-size: 4rem;
      width: auto;
      height: auto;
    }

    .btn-redirect {
      text-align: center;
      width: 240px;
      padding: 4px;
      position: relative;
      margin-top: 20px;
      background-color: $primary1;
    }
  }

}
