<div class="forgot-password-page">
  <div style="height: 1px; margin-top: -1px;"></div>
  <div class="forgot-password-form">
    <h1>Forgot password</h1>
    <p>Enter your user account's verified email address and we will send you a password reset link.</p>
    <form [formGroup]="forgotPassword" (ngSubmit)="forgotPassword()">
      <div>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>email</mat-icon>
          <input matInput [(ngModel)]="email" placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </div>
      
      <div>
        <button type="submit" mat-raised-button color="primary" class="btn-forgot-password">
          Send <mat-spinner *ngIf="loading" [diameter]="26"></mat-spinner>
        </button>
      </div>
    </form>

    <div>
      <a href="/signin" class="bottom-link">Back to sign in page</a>
    </div>
  </div>
</div>
