@import '../../../../assets/scss/global.scss';

.header-placeholder {
  height: 64px;
}

header {
  position: relative;

  .navbar {
    z-index: 999;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $primary1;
    // box-shadow: 1px 0 2px 2px rgba(0,0,0,.1);
    // height: 64px;

    &.fixed-top {
      // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    }

    .container-fluid {
      padding: 0;
    }

    .navbar-brand {
      padding: 0;
      margin: 8px 0 8px 0;
      font-size: 22px;
      position: relative;
      top: 3px;
      letter-spacing: 1px;
      color: $primary2 !important;

      @media only screen and (max-width: 767px) {
        margin: 5px 0 11px 0;
      }

      img {
        vertical-align: top;
        margin-top: 4px;
      }
    }

    @media only screen and (min-width: 768px) {
      &.navbar-expand-md {
        .navbar-brand {
          position: relative;
          top: 0;
        }
      }
    }

    

    ul li a {
      padding-left: 16px;
      cursor: pointer;
      
      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    a {
      font-weight: 500;
      color: rgba(255,255,255,0.8);

      &:hover {
        color: #fff;
      }
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
      border-color: rgba(255,255,255,0);
    }

    .btn-signin,
    .btn-signup {
      // background-color: #fff;
      color: $primary2;
      border: solid 1px $primary2;
      font-weight: 500;
      font-size: 1.1rem;
      margin-left: 12px;
      padding: 6px 20px;

      &:hover {
        background-color: $primary2;
        border-color: $primary2;
        color: #fff;
      }
    }

    .btn-signup {
      background-color: $primary2;
      border-color: $primary2;
      color: #fff;

      @media only screen and (max-width: 767px) {
        //margin-right: 6px;
      }
    }

    .profile-dropdown {

      .btn-profile {
        color: #fff;
        font-weight: 500;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .dropdown-menu {
        padding: 0;
        left: auto;
        right: 0;
        width: 180px;

        .dropdown-item {
          color: #333;
          font-weight: 400;
          height: 36px;
          padding: 0.3rem 1.2rem;
          cursor: pointer;

          &:focus, &:active {
            background-color: #f3f3f3;
          }
        }

        .dropdown-item-top {
          border-bottom: solid 1px $borderColor;
          font-weight: 500;
          height: 64px;

          .current-plan {
            border: solid 1px $primary2;
            color: $primary2;
            font-weight: 500;
            padding: 0.05rem 0.3rem;
            font-size: 0.75em;
          }
        }

        .dropdown-item-signout {
          border-top: solid 1px $borderColor;
          padding: 0.4rem 1.2rem;
          height: 42px;
        }
      }
    }
    
    &.app-page {

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

      .navbar-brand {
        margin: 5px 0 10px 0;
      }

      a {
        font-weight: 500;
        color: #fff;
  
        &:hover {
          color: #fff;
        }
      }

      .dropdown-toggle {
        color: $primary2;

        &.focus {
          color: $primary2;
        }
      }

      .btn-signin {
        // background-color: $primary1;
        border-color: $primary2;
        color: $primary2;
  
        &:hover {
          background-color: $primary2;
          border-color: $primary2;
          color: #fff;
        }
      }

      .btn-signup {
        background-color: $primary2;
        border-color: $primary2;
        color: #fff;
  
        &:hover {
          background-color: $primary2;
          border-color: $primary2;
          color: #fff;
        }
      }

      .btn-profile {
        color: #fff !important;
      }
    }
    
  }
}
