@import '../../../../assets/scss/global.scss';

.header-placeholder {
  height: 70px;
}

header {
  .navbar {
    z-index: 9;
    padding: 15px 0px;

    a {
      font-weight: 500;
      color: rgba(255,255,255,.5);

      &:hover {
        color: rgba(255,255,255,.8);
      }
    }

    .btn-signup {
      background-color: $primary3;
      color: $primary2;
      border: solid 1px $primary2;
      font-weight: 500;

      &:hover {
        background-color: $primary2;
        color: rgba(255,255,255,1);
        font-weight: 500;
      }
    }

    &.fixed-top {
      background-color: #1b1f3b;
      // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    }
  }
}
