@import '../../../../assets/scss/global.scss';

.header-placeholder {
  height: 60px;
}

header {
  .navbar {
    z-index: 999;
    padding: 10px 0px;

    .navbar-brand {
      padding: 0;
      font-size: 22px;
      position: relative;
      top: 3px;
    }

    &.navbar-expand-md {
      .navbar-brand {
        position: relative;
        top: 0;
      }
    }

    ul li a {
      padding-left: 16px;
      cursor: pointer;
      
      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    a {
      font-weight: 500;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .fa {
      color: #ccc;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
      border-color: rgba(255,255,255,0);
    }

    .link-signin {
      margin-right: 1rem;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .btn-signup {
      // background-color: $primary1;
      // color: $primary21;
      // border: solid 1px $primary21;
      font-weight: 500;

      // &:hover {
      //   background-color: $primary21;
      //   color: #fff;
      //   border: solid 1px $primary21;
      // }
    }

    &.fixed-top {
      background-color: $primary1;
      // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    }

    .profile-dropdown {

      .btn-profile {
        color: #fff;
        
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .dropdown-menu {
        padding: 0;
        left: auto;
        right: 0;

        .dropdown-item {
          color: #333;
          font-weight: 400;
          height: 40px;
          padding: 0.5rem 1rem;
          cursor: pointer;

          &:focus, &:active {
            background-color: #f3f3f3;
          }
        }

        .dropdown-item-top {
          border-bottom: solid 1px $borderColor;
          font-weight: 500;
          height: 64px;

          .current-plan {
            border: solid 1px $primary2;
            color: $primary2;
            font-weight: 400;
            padding: 0.1rem 0.2rem;
            font-size: 0.8em;
          }
        }

        .dropdown-item-signout {
          border-top: solid 1px $borderColor;
        }
      }
    }
    
  }
}
