<header>
  <!--  fixed-top navbar-expand-md bg-dark -->
  <nav class="navbar navbar-dark fixed-top" [ngClass]="{'navbar-expand-md': !isAppPage, 'app-page': isAppPage}">
    <div class="container-fluid">
      <div>
        <button class="navbar-toggler order-first" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <!-- <img src="../../../../assets/img/logo-white.png" height="28px" alt="LIMESPY"> -->
          AdsCrawlr
        </a>
      </div>

      <div *ngIf="isAppPage && !user">
        <a href="/signin">
          <button class="btn btn-signin my-2 my-sm-0">Sign in</button>
        </a>
        <a href="/signup">
          <button class="btn btn-signup my-2 my-sm-0">Sign up</button>
        </a>
      </div>

      <div class="dropdown profile-dropdown" *ngIf="isAppPage && user">
        <button class="btn btn-profile dropdown-toggle" type="button" id="profileDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.fullName}}
        </button>
        <div class="dropdown-menu" aria-labelledby="profileDropdown">
          <a class="dropdown-item dropdown-item-top" href="#">
            <div>{{user.fullName}}</div>
            <div><span class="current-plan">{{user.plan.toUpperCase()}}</span></div>
          </a>
          <a class="dropdown-item" href="/dashboard/profile">Profile</a>
          <a class="dropdown-item" href="/dashboard/plan">My plan</a>
          <a class="dropdown-item" href="/ads?keyword=::saved">My saved</a>
          <a class="dropdown-item" href="/ads?keyword=::tracked">My tracked</a>
          <a class="dropdown-item dropdown-item-signout" (click)="signout()">Sign out</a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ads">Ads Spy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToView('feature')">Feature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToView('pricing')">Pricing</a>
          </li>
        </ul>
      </div>

      <div *ngIf="!isAppPage && !user">
        <a href="/signin">
          <button class="btn btn-signin my-2 my-sm-0">Sign in</button>
        </a>
        <a href="/signup">
          <button class="btn btn-signup my-2 my-sm-0">Sign up</button>
        </a>
      </div>

      <div class="dropdown profile-dropdown" *ngIf="!isAppPage && user">
        <button class="btn btn-profile dropdown-toggle" type="button" id="profileDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.fullName}}
        </button>
        <div class="dropdown-menu" aria-labelledby="profileDropdown">
          <a class="dropdown-item dropdown-item-top" href="#">
            <div>{{user.fullName}}</div>
            <div><span class="current-plan">{{user.plan.toUpperCase()}}</span></div>
          </a>
          <a class="dropdown-item" href="/dashboard/profile">Profile</a>
          <a class="dropdown-item" href="/dashboard/plan">My plan</a>
          <a class="dropdown-item" href="/ads?keyword=::saved">My saved</a>
          <a class="dropdown-item" href="/ads?keyword=::tracked">My tracked</a>
          <a class="dropdown-item dropdown-item-signout" (click)="signout()">Sign out</a>
        </div>
      </div>

    </div>
  </nav>

</header>
<div class="header-placeholder"></div>