<div class="referral-page">
    <div class="section-intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-left">
                    <div>
                        <h1 class="page-title mb-4">AdsCrawlr Referral Program</h1>
                    </div>
                    <div>
                        Get <b>50% of FIRST PAYMENT</b> commission and <b>25% LIFETIME</b> recurring commission by promoting AdsCrawlr tools
                        used and loved by people all around the world.
                    </div>
                    <div>
                        <a href="/referral/dashboard">
                            <button class="btn btn-secondary btn-referral mt-3">START EARNING NOW</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-right">
                    <div class="image-wrapper">
                        <!-- <img src="../../../../../assets/img/referral-dashboard.png"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-info">
        <div class="container">
            <h2 class="mb-3">Referral Information</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        <div><i class="far fa-dollar-sign fa-2x"></i></div>
                        <div>
                            You will get 50% of first payment then 20% recurring commission from each monthly payment made by a user 
                            who registers via your referral link.
                        </div>
                    </div>
                    <div class="mb-4">
                        <div><i class="far fa-cookie fa-2x"></i></div>
                        <div>
                            Cookies are valid for 60 days, so the referred user needs to register the 
                            Adscrawlr account within 60 days after clicking on your affiliate 
                            link.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bottom">
        <div class="container">
        </div>
    </div>
</div>