<div class="signin-page">

  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="signin()">
    <div class=" text-center mb-4">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
        height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
      <div>
        <button class="btn" (click)="signInWithGoogle()">G</button>
      </div>
    </div>
    <div class="form-label-group">
      <label for="inputEmail">Email address</label>
      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="username" formControlName="username" required="" autofocus="">
    </div>

    <div class="form-label-group">
      <div class="g-float-wrapper">
        <label for="inputPassword" class="g-float-left">Password</label>
        <a href="/forgot-password" class="g-float-right">Forgot password?</a>
      </div>
      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" formControlName="password"
        required="">
    </div>

    <div class="error-text g-text-sm">{{errorMessage}}</div>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
      Sign in <mat-spinner *ngIf="loading" [diameter]="26"></mat-spinner>
    </button>

    <div class="signup-redirect text-center">
      New to UltimateSpy? <a href="/signup">Create an account</a>
    </div>
  </form>

</div>