@import '../../../../../assets/scss/global.scss';

.field-block {
  position: relative;
  .icon-edit-profile {
    position: absolute;
    right: 15px;
    color: $primary1;
    cursor: pointer;
  }
  
}

.form-control:disabled, .form-control[readonly], .custom-select:disabled {
  background-color: #fafafa;
}

.btn-cancel {
  border: 1px solid #ced4da;

  &:hover {
    background-color: #f1f2f3;
  }
}