<div class="home-page">

  <!-- SECTION INTRO -->
  <section class="section section-intro" id="intro">
    <div style="height: 1px; margin-top: -1px"></div>
    <div class="section-intro-content">
      <div class="g-text-center">
        <h1>#1 Ads spy tool for POD, Shopify & Woocommerce</h1>
      </div>
      <br>
      <div class="g-text-center">
        <a href="#"><button class="btn btn-search-now"><i class="fa fa-search"></i> Search now</button></a>
      </div>
    </div>


  </section>

  <!-- SECTION FEATURE -->
  <section class="section section-feature" id="feature">
    <div class="container">

      <h1 class="section-title">Features</h1>
      <div>
      </div>
      <div class="row">

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <div class="feature-item-logo-wrapper"><i class="fab fa-facebook-f fa-3x"></i></div>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Facebook Ads</h5>
            <p class="g-text-center">Facebook ads data in all industries</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <div class="feature-item-logo-wrapper"><i class="fa fa-database fa-3x"></i></div>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Rich data, daily update</h5>
            <p class="g-text-center">More than 10K+ new ads are collected everyday</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <div class="feature-item-logo-wrapper"><i class="fab fa-superpowers fa-3x"></i></div>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">POD, Shopify, Woocommerce</h5>
            <p class="g-text-center">Made for POD, Shopify, and Woocommerce marketers and sellers</p>
          </div>
        </div>



        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <div class="feature-item-logo-wrapper"><i class="fa fa-search fa-3x"></i></div>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Powerfull search engine</h5>
            <p class="g-text-center">Fast and accurate search engine</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <div class="feature-item-logo-wrapper"><i class="far fa-filter fa-3x"></i></div>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Rich filters</h5>
            <p class="g-text-center">Filtering by ad types, categories, website platform, like, comment, date...</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <div class="feature-item-logo-wrapper"><i class="fas fa-chart-bar fa-3x"></i></div>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Track ads</h5>
            <p class="g-text-center">Tracking daily ad performance</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- SECTION TESTIMONIAL -->
  <section class="section section-testimonial container" id="testimonial">
    <h1 class="section-title">What our customers say</h1>

    <div class="row">

      <div class="col-lg-4 testimonial-item">
        <div class="testimonial-item-image">
          <img src="../../../../assets/img/people/Michael. J.jpg" alt="">
        </div>
        <div class="testimonial-item-content">
          I've tried some other ads spy tools. I can say that UTS is my favorite. 
          I like the design. It's so clean, and data is fresh as well. 
          Now UTS is the only tool I need for ads spying.
        </div>
        <div class="testimonial-item-name">Michael. J</div>
      </div>

      <div class="col-lg-4 testimonial-item">
        <div class="testimonial-item-image">
          <img src="../../../../assets/img/people/Aspen. M.jpg" alt="">
        </div>
        <div class="testimonial-item-content">
          I work in print on demand industry. UTS is the tool I use a lot to find new and trending design. 
          I've recommend this tool to some of my friends. They all love it.
        </div>
        <div class="testimonial-item-name">Aspen. M</div>
      </div>

      <div class="col-lg-4 testimonial-item">
        <div class="testimonial-item-image">
          <img src="../../../../assets/img/people/kushal. P.jpg" alt="">
        </div>
        <div class="testimonial-item-content">
          Great tool! I've found many wining products by using this tool. 
          Before that, I has so much struggle while finding which product to sell. 
          Now, I have UTS. Thanks to the team for excellent works.
        </div>
        <div class="testimonial-item-name">Kushal. P</div>
      </div>

    </div>
  </section>

  <section class="section section-pricing" id="pricing">
    <div class="container">
      <h1 class="section-title">Pricing</h1>

      <div class="row text-center">

        <div class="col-lg-4 col-md-12 card-wrapper">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><span class="text-muted">${{subscriptionPlans.free?.price}}</span> <small class="text-muted">/
                  mo</small></h1>
              <ul class="list-unstyled text-left mt-3 mb-4">
                <li><i class="far fa-check-circle"></i><span>Queries: 5 daily</span></li>
                <li><i class="far fa-check-circle"></i><span>Limited search result</span></li>
                <li><i class="far fa-check-circle"></i><span>Limited search features</span></li>
                <li class="g-text-blur"><i class="far fa-check-circle"></i><span class="g-text-line-through">Save ads</span></li>
                <li class="g-text-blur"><i class="far fa-check-circle"></i><span class="g-text-line-through">Track ads</span></li>
                <li class="g-text-blur"><i class="far fa-check-circle"></i><span class="g-text-line-through">Service support</span></li>
              </ul>
              <button *ngIf="!token || !user" type="button" 
                class="btn btn-lg btn-block btn-outline-primary"
                (click)="redirectToSignup()">Sign up</button>
              <button *ngIf="token && user && user.plan === 'free'" type="button"
                class="btn btn-lg btn-block btn-outline-primary">Your Current Plan</button>
              <button *ngIf="token && user && user.plan !== 'free'" type="button"
                (click)="redirectToCheckout(subscriptionPlans.free)"
                class="btn btn-lg btn-block btn-primary">Free</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 card-wrapper">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Basic</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">${{subscriptionPlans.basic?.price}} <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled text-left mt-3 mb-4">
                <li><i class="far fa-check-circle"></i><span>Queries: 25 daily</span></li>
                <li><i class="far fa-check-circle"></i><span>Unlimited search result</span></li>
                <li><i class="far fa-check-circle"></i><span>Unlimited search features</span></li>
                <li><i class="far fa-check-circle"></i><span>Save ads: 10 ads daily</span></li>
                <li><i class="far fa-check-circle"></i><span>Track ads: 10 ads daily</span></li>
                <li><i class="far fa-check-circle"></i><span>Service support</span></li>
              </ul>
              <button *ngIf="token && user && user.plan === 'basic'" type="button"
                class="btn btn-lg btn-block btn-outline-primary">Your Current Plan</button>
              <button *ngIf="!token || !user || user.plan !== 'basic'"
                (click)="redirectToCheckout(subscriptionPlans.basic)"
                type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 card-wrapper">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Premium</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">${{subscriptionPlans.premium?.price}} <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled text-left mt-3 mb-4">
                <li><i class="far fa-check-circle"></i><span>Unlimited queries</span></li>
                <li><i class="far fa-check-circle"></i><span>Unlimited search result</span></li>
                <li><i class="far fa-check-circle"></i><span>Unlimited search features</span></li>
                <li><i class="far fa-check-circle"></i><span>Unlimited save ads</span></li>
                <li><i class="far fa-check-circle"></i><span>Unlimited track ads</span></li>
                <li><i class="far fa-check-circle"></i><span>Service support</span></li>
              </ul>
              <button *ngIf="token && user && user.plan === 'premium'" type="button"
                class="btn btn-lg btn-block btn-outline-primary">Your Current Plan</button>
              <button *ngIf="!token || !user || user.plan !== 'premium'" type="button"
                (click)="redirectToCheckout(subscriptionPlans.premium)"
                class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section section-bottom" id="bottom">
    <div>
      <div class="bottom-subtitle">FREE TO USE</div>
      <div class="bottom-title mb-4">Get It Now</div>
    </div>
    <div class="bottom-content mb-3">
      You have made your decision to use it, go on and use it in less than a minute.
    </div>
    <div>
      <a href="/signup">
        <button class="btn btn-lg btn-secondary bottom-btn-signup mb-3">SIGN UP FREE</button>
      </a>
    </div>
  </section>

</div>
