@import '../../../../assets/scss/global.scss';

.home-page {

  .section-intro {
    background-image: url('../../../../assets/img/home-cover.png');
    background-position: center top;
    background-size: cover;
    height: 100vh;
    max-height: 768px;
    overflow: hidden;
    position: relative;

    h1 {
      font-weight: 400;
      width: 80%;
      max-width: 800px;
      margin: auto;
      margin-top: 18vh;
      color: $textColor1;
    }

    p {
      width: 90%;
      max-width: 900px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: 1.4em;
    }

    .btn-search-now {
      background-color: $primary1;
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      padding: 0.5em 2.4em 0.6em 3.6em;
      position: relative;
      text-transform: uppercase;
      border-radius: 1.6em;
      &:hover {
        background-color: $primary11;
      }

      .fa-search {
        position: absolute;
        font-size: 0.9em;
        left: 2.6em;
        top: 0.9em;
      }
    }
  }

  .section {
    padding-top: 60px;

    .section-title {
      text-align: center;
      color: $textColor1;
      margin-bottom: 60px;
    }
  }

  .section-feature {
    background-color: #fff;

    .feature-item {
      margin-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;

      .feature-item-logo {
        margin-bottom: 16px;
        color: $primary2;

        .feature-item-logo-wrapper {
          background-color: $primary21;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: auto;
          padding: 26px;
        }
      }
      .feature-item-content {
        
      }
    }
  }

  .section-testimonial {
    padding-bottom: 60px;
    .testimonial-item {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;

      .testimonial-item-image {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100%;
        margin: auto;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .testimonial-item-content {
        margin-bottom: 15px;
        color: #666;
        font-style: italic;
      }
      .testimonial-item-name {
        font-weight: 500;
        font-size: 1.1em;
      }
    }
  }

  .section-pricing {
    background-color: #fff;
    padding-bottom: 60px;

    .card-wrapper {
      padding-left: 20px;
      padding-right: 20px;

      .card-body {

        .pricing-card-title {
          color: $primary2;
        }

        li {
          .fa-check-circle {
            color: $primary2;
            margin-right: 0.5em;
          }

          &.g-text-blur .fa-check-circle {
            color: inherit;
          }
        }

        .btn-outline-primary {
          color: $primary2;
          outline-color: $primary2;
          border-color: $primary2;

          &:hover {
            color: #fff;
            background-color: $primary2;
          }
        }

        .btn-primary {
          color: #fff;
          outline-color: $primary2 !important;
          border-color: $primary2 !important;
          background-color: $primary2 !important;
        }

      }

    }

  }

  .section-bottom {
    background-color: $primary1;
    color: #fff;
    height: 320px;
    text-align: center;

    .bottom-title {
      font-size: 2.2rem;
      font-weight: 400;
    }

    .bottom-subtitle {
      font-size: .82rem;
      color: rgba(255,255,255,.8);
    }

    .bottom-content {
      color: rgba(255,255,255,.8);
      padding: 0 30px;
    }

    .bottom-btn-signup {
      margin-top: 30px;
      font-weight: 500;
      font-size: 1rem;
      padding: 0.5em 2.4em 0.6em 2.4em;
      position: relative;
      text-transform: uppercase;
      border-radius: 1.6em;
      &:hover {
        background-color: $primary2;
      }
    }
  }

}