<div class="home-page">

  <!-- SECTION INTRO -->
  <section class="section section-intro">
    <div style="height: 1px; margin-top: -1px"></div>
    <div class="section-intro-content">
      <div class="g-text-center">
        <h1>#1 Ads spy tool for POD, Shopify & Woocommerce</h1>
      </div>
      <br>
      <div class="g-text-center">
        <a href="#"><button class="btn btn-search-now"><i class="fa fa-search"></i> Search now</button></a>
      </div>
    </div>
    

  </section>

  <!-- SECTION FEATURE -->
  <section class="section section-feature" id="feature">
    <div class="container">
    
      <h1 class="section-title">Features</h1>
      <div>
        <!-- <img src="../../../../assets/img/laptop-mockup.png" alt=""> -->
      </div>
      <div class="row">

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <i class="fa fa-bar-chart fa-4x"></i>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Rich data, daily update</h5>
            <p class="g-text-center">More than 100K+ new ads are collected everyday</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <i class="fa fa-bar-chart fa-4x"></i>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">POD, Shopify, Woocommerce</h5>
            <p class="g-text-center">More than 100K+ new ads are collected everyday</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <i class="fa fa-bar-chart fa-4x"></i>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Powerfull search engine</h5>
            <p class="g-text-center">More than 100K+ new ads are collected everyday</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <i class="fa fa-bar-chart fa-4x"></i>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Trending ads filter</h5>
            <p class="g-text-center">More than 100K+ new ads are collected everyday</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <i class="fa fa-bar-chart fa-4x"></i>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Very detailed information</h5>
            <p class="g-text-center">More than 100K+ new ads are collected everyday</p>
          </div>
        </div>

        <div class="feature-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="feature-item-logo g-text-center">
            <i class="fa fa-bar-chart fa-4x"></i>
          </div>
          <div>
            <h5 class="feature-item-content g-text-center">Facebook ads ideas</h5>
            <p class="g-text-center">More than 100K+ new ads are collected everyday</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- SECTION TESTIMONIAL -->
  <section class="section section-testimonial container" id="testimonial">
    <h1 class="section-title">What our customers say</h1>

    <div class="row">

      <div class="col-lg-4 testimonial-item">
        <div class="testimonial-item-image">
          <img
            src="https://i2.wp.com/thetechieshop.com/wp-content/uploads/2020/06/testimonial-avatar-male-1-ux-builder-1.jpg?w=254&ssl=1"
            alt="">
        </div>
        <div class="testimonial-item-content">
          I am a marketing manager, BigSpy tool lets me find the right marketing strategies and winning ads
        </div>
        <div class="testimonial-item-name">John Snow</div>
      </div>

      <div class="col-lg-4 testimonial-item">
        <div class="testimonial-item-image">
          <img
            src="https://i2.wp.com/thetechieshop.com/wp-content/uploads/2020/06/testimonial-avatar-male-1-ux-builder-1.jpg?w=254&ssl=1"
            alt="">
        </div>
        <div class="testimonial-item-content">
          I am a marketing manager, BigSpy tool lets me find the right marketing strategies and winning ads
        </div>
        <div class="testimonial-item-name">John Snow</div>
      </div>

      <div class="col-lg-4 testimonial-item">
        <div class="testimonial-item-image">
          <img
            src="https://i2.wp.com/thetechieshop.com/wp-content/uploads/2020/06/testimonial-avatar-male-1-ux-builder-1.jpg?w=254&ssl=1"
            alt="">
        </div>
        <div class="testimonial-item-content">
          I am a marketing manager, BigSpy tool lets me find the right marketing strategies and winning ads
        </div>
        <div class="testimonial-item-name">John Snow</div>
      </div>

    </div>
  </section>

  <section class="section section-pricing" id="pricing">
    <div class="container">
      <h1 class="section-title">Pricing</h1>

      <div class="row text-center">

        <div class="col-lg-4 col-md-12 card-wrapper">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><span class="text-muted">$0</span> <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled text-left mt-3 mb-4">
                <li><i class="fa fa-check-square-o"></i><span>Queries: 10 daily</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Limited search result</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Limited search features</span></li>
                <li class="g-text-blur"><i class="fa fa-check-square-o"></i><span class="g-text-line-through">Track ads</span></li>
                <li class="g-text-blur"><i class="fa fa-check-square-o"></i><span class="g-text-line-through">Email support</span></li>
              </ul>
              <button *ngIf="!token || !user" type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
              <button *ngIf="token && user && user.plan === 'FREE'" type="button" class="btn btn-lg btn-block btn-outline-primary">Your Current Plan</button>
              <button *ngIf="token && user && user.plan !== 'FREE'" type="button" class="btn btn-lg btn-block btn-primary">Free</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 card-wrapper">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Basic</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$9 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled text-left mt-3 mb-4">
                <li><i class="fa fa-check-square-o"></i><span>Queries: 100 daily</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Unlimited search result</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Unlimited search features</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Track ads: 10 ads daily</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Email support</span></li>
              </ul>
              <button *ngIf="!token || !user" type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
              <button *ngIf="token && user && user.plan === 'BASIC'" type="button" class="btn btn-lg btn-block btn-outline-primary">Your Current Plan</button>
              <button *ngIf="token && user && user.plan !== 'BASIC'" (click)="toggleBasicPlan()" type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
            <div *ngIf="expandPlan ==='BASIC'" class="card-footer">
              <label>Choose period</label>
              <div class="dropdown dropdown-period">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{period.months}} months
                  <span class="discount" *ngIf="period.discount > 0">(-{{period.discount}}%)</span>
                  <span class="desc">{{period.desc}}</span>
                  <span class="amount">${{round(BASIC_PRICE * period.months * (1 - period.discount / 100))}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" *ngFor="let p of periods" (click)="period = p">
                    {{p.months}} months
                    <span class="discount" *ngIf="p.discount > 0">(-{{p.discount}}%)</span>
                    <span class="desc">{{p.desc}}</span>
                    <span class="amount">${{round(BASIC_PRICE * p.months * (1 - p.discount / 100))}}</span>
                  </div>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-block btn-checkout">Check out</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 card-wrapper">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Premium</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$49 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled text-left mt-3 mb-4">
                <li><i class="fa fa-check-square-o"></i><span>Queries: unlimited</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Unlimited search result</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Unlimited search features</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Track ads: 1000 ads daily</span></li>
                <li><i class="fa fa-check-square-o"></i><span>Email support</span></li>
              </ul>
              <button *ngIf="!token || !user" type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
              <button *ngIf="token && user && user.plan === 'PREMIUM'" type="button" class="btn btn-lg btn-block btn-outline-primary">Your Current Plan</button>
              <button *ngIf="token && user && user.plan !== 'PREMIUM'" (click)="togglePremiumPlan()" type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
            <div *ngIf="expandPlan ==='PREMIUM'" class="card-footer">
              <label>Choose period</label>
              <div class="dropdown dropdown-period">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{period.months}} months
                  <span class="discount" *ngIf="period.discount > 0">(-{{period.discount}}%)</span>
                  <span class="desc">{{period.desc}}</span>
                  <span class="amount">${{round(PREMIUM_PRICE * period.months * (1 - period.discount / 100))}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item" *ngFor="let p of periods" (click)="period = p">
                    {{p.months}} months
                    <span class="discount" *ngIf="p.discount > 0">(-{{p.discount}}%)</span>
                    <span class="desc">{{p.desc}}</span>
                    <span class="amount">${{round(PREMIUM_PRICE * p.months * (1 - p.discount / 100))}}</span>
                  </div>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-block btn-checkout">Check out</button>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </section>

</div>