@import '../../../../assets/scss/global.scss';

.home-page {

  .section-intro {
    background-image: url('../../../../assets/img/home-cover.png');
    background-position: left top; // center top
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 640px;
    max-width: 1340px;
    overflow: hidden;
    position: relative;
    margin: auto;

    .section-intro-content {
      padding-left: 30px;
      max-width: 500px;

      h1 {
        font-weight: 700;
        font-size: 3.5rem;
        margin-top: 60px;
        color: $textColor0;
      }
  
      p {
        // color: #6e6f70;
        margin-top: 10px;
        font-size: 1.4em;
        span {
          color: #121212;
          font-weight: 500;
        }
      }
  
      .btn-search-now {
        // margin-top: 10px;
        background-color: #121212;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5em 2.4em 0.6em 3.6em;
        position: relative;
        text-transform: uppercase;
        border-radius: 1.6em;
        &:hover {
          background-color: #000;
        }
  
        .fa-search {
          position: absolute;
          font-size: 0.9em;
          left: 2.6em;
          top: 0.9em;
        }
      }
    }
    
  }

  .section {
    padding-top: 60px;

    .section-title {
      text-align: center;
      color: $textColor0;
      margin-bottom: 80px;
    }
  }

  .section-feature {
    background-color: #fff;

    .feature-item {
      margin-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;

      .feature-item-logo {
        margin-bottom: 16px;
        color: $primary2;

        .feature-item-logo-wrapper {
          background-color: $primary20;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: auto;
          padding: 26px;
        }
      }
    }
  }

  .section-testimonial {
    background-color: $bgColor;
    padding-bottom: 40px;
    .testimonial-item {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;

      .testimonial-item-image {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100%;
        margin: auto;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .testimonial-item-content {
        margin-bottom: 10px;
        color: #666;
        font-style: italic;
      }
      .testimonial-item-name {
        font-weight: 500;
        font-size: 1.1em;
        margin-bottom: 40px;
      }
    }
  }

  .section-pricing {
    background-color: #fff;
    padding-bottom: 60px;

    .card-wrapper {
      padding-left: 20px;
      padding-right: 20px;

      .card-body {

        .pricing-card-title {
          color: $primary2;
        }

        li {
          .fa-check-circle {
            color: $primary2;
            margin-right: 0.5em;
          }

          &.g-text-blur .fa-check-circle {
            color: inherit;
          }
        }

        .btn-outline-primary {
          color: $primary2;
          outline-color: $primary2;
          border-color: $primary2;

          &:hover {
            color: #fff;
            background-color: $primary2;
          }
        }

        .btn-primary {
          color: #fff;
          outline-color: $primary2 !important;
          border-color: $primary2 !important;
          background-color: $primary2 !important;
        }

      }

    }

  }

  .section-bottom {
    background-color: $bgColor;
    color: $textColor1;
    height: 340px;
    text-align: center;

    .bottom-title {
      font-size: 2.2rem;
      font-weight: 400;
      color: $textColor0;
    }

    .bottom-subtitle {
      font-size: .82rem;
      color: $textColor1;
    }

    .bottom-content {
      color: $textColor1;
      padding: 0 30px;
    }

    .bottom-btn-signup {
      margin-top: 30px;
      font-weight: 500;
      font-size: 1rem;
      padding: 0.5em 2.4em 0.5em 2.4em;
      position: relative;
      text-transform: uppercase;
      border-radius: 1.6em;
      &:hover {
        background-color: $primary2;
      }
    }
  }

}