@import '../../../../../assets/scss/global.scss';

.search-wrapper {

  .section-search {
    background-color: #fff;

    .input-search-wrapper {
      width: 100%;

      input {
        display: inline-block;
        width: calc(100% - 100px);
        color: $textColor1;
      }

      @media screen and (min-width: 768px) {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 50%;
        left: 25%;
        right: 25%;
        input {
          border-radius: 1.2rem;
          height: 36px;
          width: 100%;
          border: none;
        }
        label {
          display: none;
        }
      }
    }
  }
  
  .row-one {
    z-index: 1;
    position: relative;
    background-color: #fff;

    @media screen and (min-width: 1200px) {
      box-shadow: 0px 0px 4px rgba(0,0,0,.2);
    }
  }

  .row-two {
    z-index: 0;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,.1);

    @media screen and (min-width: 1200px) {
      background-color: #fbfbfb;
    }
  }
  
  .filter-block {
    margin: 12px 0;
    position: relative;
    display: inline-block;

    .btn-save-search {
      width: 100%;
      color: $primary1;
      background-color: #fff;
      border: solid 1px $primary1;
    }

    .fa {
      position: absolute;
      right: 0.6em;
      top: 0.4em;
      font-size: 1.3em;
      color: #ddd;
    }

    input {
      padding-right: 2.4em;
      color: $primary1;
    }

    input::placeholder {
      color: #999;
    }
  }

  label {
    text-align: right;
    font-weight: 500;
    margin-right: 10px;
    width: 90px;
  }
  
  .bootstrap-select-wrapper {
    @media screen and (max-width: 767px) {
      width: 100% !important;
    }
    @media screen and (min-width: 768px) {
      width: 33.33% !important;
    }
  }

  .bootstrap-select {
    width: calc(100% - 100px) !important;
    
    .dropdown-toggle {
      background-color: #fff;
      border-color: $borderColor;
      // padding: 0.375rem 0.75rem;

      &:focus {
        background-color: #fff;
        outline: none !important;
        box-shadow: none !important;
      }
      &.bs-placeholder {
        color: $textColor1;
      }
    }
    .dropdown-menu {
      max-height: 390px !important;

      li.disabled:first-child {
        display: none;
      }
      li {
        a.dropdown-item {
          &:focus {
            background-color: #f8f9fa;
            color: inherit;
            outline: none;
          }

          &.active, &:active {
            color: $primary2;
            background-color: #fff;
          }

          .check-mark:after {
            color: $primary1;
          }

        }
      }
    }
  }

  mat-form-field {
    width: calc((100% - 100px - 42px) / 2);
    max-width: 296px;
    position: relative;

    .mat-form-field-infix {
      background-color: #fff;
      border-top: 0;
      border: solid 1px $borderColor;
      border-radius: .25rem;
      padding: .55rem .75rem;
    }

    .mat-form-field-suffix {
      position: absolute;
      right: 0;

      .mat-datepicker-toggle-active svg path {
        color: $primary2 !important;
      }
    }

    .mat-form-field-wrapper {
      padding-bottom: 15px;
      padding-top: 15px;
    }
    
  }

  .filter-range-block {
    padding: 15px 0;

    .input-fit {
      display: inline-block;
      width: 80px;
      height: auto;
      padding: .375rem .25rem;
      text-align: center;
    }

    .ng5-slider {
      margin: 0px 10px !important;
      width: calc(100% - 2*80px - 90px - 3*10px); // 2 input 80px, 1 label 90px, 3 margin 10px
    }
    
    .ng5-slider-pointer {
      width: 12px !important;
      height: 12px !important;
      top: -5px !important;
      background-color: $primary2 !important;
      outline: none !important;
      -webkit-transition: all linear .0s !important;
      transition: all linear .0s !important;
    }
    
    .ng5-slider-pointer::after {
      position: absolute !important;
      top: -9px !important;
      left: -9px !important;
      width: 30px !important;
      height: 30px !important;
      border-radius: 50% !important;
      transform: scale(0) !important;
      opacity: 0 !important;
      transition: transform .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),opacity .4s cubic-bezier(.25,.8,.25,1) !important;
    }
    
    .ng5-slider-pointer.ng5-slider-active::after {
      transform: scale(1) !important;
      opacity: 1 !important;
      background-color: rgba(255,64,129,.2) !important;
    }
    
    .ng5-slider-bar-wrapper {
      height: auto !important;
      padding: 0 !important;
      margin: 0 !important;
      -webkit-transition: all linear .0s !important;
      transition: all linear .0s !important;
    }
    
    .ng5-slider-selection {
      background-color: $primary2 !important;
    }
    .ng5-slider-bar {
      height: 2px !important;
    }
    .ng5-slider[disabled] .ng5-slider-pointer{
      background-color: #C4C4C4 !important;
    }
    
    .ng5-slider[disabled] .ng5-slider-selection{
      background-color: #C4C4C4 !important;
    }
    
    .ng5-slider[disabled] .ng5-slider-bar{
      background-color: #C4C4C4 !important;
    }

  }

  .btn-search {
    position: relative;
    padding: .375rem 1.75rem;
    margin: .2rem 0;
    font-weight: 500;

    // .mat-progress-spinner {
    //   position: absolute;
    // }

    // .mat-progress-spinner circle, .mat-spinner circle {
    //   stroke: $primary21 !important;
    // }
  }

  .bottom-row {
    padding: 60px 5px 0px 5px;
  }

  .total-result {
    font-weight: 500;
    padding: .375rem 0;
  }

  .select-sort {
    width: 240px;
  }

}
