@import '../../../../../assets/scss/global.scss';

.search-wrapper {

  .section-search {
    margin-bottom: 20px;
    padding: 0px 30px 15px 30px;
    background-color: #fff;

    .filter-block,
    .mb-3 {
      margin-bottom: 0 !important;
    }
  }

  .section-filter {
    padding: 0px 30px 0px 30px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  

  .container {
    &>.row {
      margin-left: -20px;
      margin-right: -20px;
    
      &>div[class^="col"] {
        padding-left: 5px;
        padding-right: 5px;
      }

      .filter-block {
        margin: 15px 0;
        position: relative;

        .btn-save-search {
          width: 100%;
          color: $primary1;
          background-color: #fff;
          border: solid 1px $primary1;
        }

        .fa {
          position: absolute;
          right: 0.45em;
          top: 0.3em;
          font-size: 1.4em;
          color: #757575;
        }

        input {
          padding-right: 2.4em;
          color: $primary1;
        }

        input::placeholder {
          color: #999;
        }
      }

      .input-search-wrapper {
        .input-search {
          &::placeholder {
            color: #999;
          }
        }
        .input-group-append {
          .input-group-text {
            cursor: pointer;
            background-color: $primary1;
            border-color: $primary1;
            color: #fff;
            font-weight: 500;
            &:hover {
              background-color: $primary1;
              border-color: $primary1;
            }
          }
        }
      }
    }
  }

  .form-label-group, .bootstrap-select {
    width: 100% !important;
  }  

  .bootstrap-select {
    .dropdown-toggle {
      background-color: #fff;
      border-color: $borderColor;
      &:focus {
        background-color: #fff;
        outline: none !important;
        box-shadow: none !important;
      }
      &.btn-light {
        color: $primary1;
      }
      &.bs-placeholder {
        color: #999;
      }
    }
    .dropdown-menu {
      li.disabled:first-child {
        display: none;
      }
      li {
        a.dropdown-item {
          &:focus {
            background-color: #f8f9fa;
            color: inherit;
            outline: none;
          }

          &.active, &:active {
            color: $primary1;
            background-color: #fff;
          }

          .check-mark:after {
            color: $primary1;
          }

        }
      }
    }
  }

  mat-form-field {
    width: 100%;
    position: relative;

    .mat-form-field-infix {
      background-color: #fff;
      border-top: 0;
      border: solid 1px $borderColor;
      border-radius: .25rem;
      padding: 0.56em;

      mat-select {
        .mat-select-value {
          color: $primary1;
        }
      }

      input {
        color: $primary1;
        font-size: 1rem;
      }
    }

    .mat-form-field-suffix {
      position: absolute;
      right: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 15px;
      padding-top: 15px;
    }
    
  }

  mat-button-toggle-group {
    width: 100%;
    border: solid 1px $borderColor !important;
    border-left: solid 0 $borderColor !important;
    margin: 15px 0;

    mat-button-toggle {
      width: 20%;
      color: #a9a9a9;
    }

    .mat-button-toggle {
      border-left: solid 1px $borderColor !important;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      line-height: 37px;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-button {
      border: solid 1px rgba(0,0,0,0);
    }

    .mat-button-toggle-appearance-standard.mat-button-toggle-checked .mat-button-toggle-button {
      background-color: #fff;
      color: $primary1;
      border: solid 1px $primary1
    } 

    .mat-button-toggle-appearance-standard .mat-button-toggle-focus-overlay,
    .mat-button-toggle-appearance-standard .mat-ripple.mat-button-toggle-ripple {
      display: none;
    }

  }

  .section-save {
    .bootstrap-select .dropdown-toggle {
      background-color: rgba(255,255,255,0) !important;
    }
    .btn-save-search {
      background-color: rgba(255,255,255,0) !important;
    }
  }

}
