<div class="dashboard-page container">

  <div class="row">

    <div class="col-md-3 t-sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Ha Van Thai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My saved</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9 t-content">
bv
    </div>

  </div>
</div>
