@import '../../../../assets/scss/global.scss';

.dashboard-page {
  padding-top: 80px;

  .dashboard-title {
    padding: 15px 15px;
  }

  .dashboard-content {
    padding: 0 15px;
    background-color: #fff;

    .nav-tabs {
      width: 100%;

      .nav-item {
        a {
          color: #333;
          &.active {
            font-weight: 500;
          }
        }
      }
    }

    .tab-content {
      padding: 30px;
    }
  }

}